*{ box-sizing: border-box}

body{ 
    margin: 0;
    background-color: #004d73;
    color:white;
}



.title{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}  
.card{
    perspective: 1000px;
    transform-style: preserve-3d;
}
.card-item{
    width: 250px;
    height: 250px;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transition: transform .25s;
}

/*  breaking points  */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {...}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {...}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {...} 